#### Assignment:  

to do the tasks of tokenization, stop words removal , lemmatization and stemming along with normalization and cleaning on the below dataset:

#### Step 1: Import Libraries

In [1]:
import numpy as np
import pandas as pd
import re
import nltk
import spacy
import string
import warnings
warnings.filterwarnings('ignore')

#### Step 2: Load the dataset

In [2]:
data = pd.read_csv('1429_1.csv')
data.head()

,id,name,asins,brand,categories,keys,manufacturer,reviews.date,reviews.dateAdded,reviews.dateSeen,...,reviews.doRecommend,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username
0,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,This product so far has not disappointed. My c...,Kindle,NaN,NaN,Adapter
1,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,great for beginner or experienced person. Boug...,very fast,NaN,NaN,truman
2,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,NaN,NaN,DaveZ
3,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,4.0,http://reviews.bestbuy.com/3545/5620406/review...,I've had my Fire HD 8 two weeks now and I love...,Good!!!,NaN,NaN,Shacks
4,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-12T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,NaN,NaN,explore42

In [3]:
data.shape

(34660, 21)

In [4]:
# taking cols for text preprocessing
full_df = pd.read_csv('1429_1.csv', nrows=5000)          #taking only 5000 rows 
df = full_df[["reviews.text", "reviews.title"]]
df.head()

,reviews.text,reviews.title
0,This product so far has not disappointed. My c...,Kindle
1,great for beginner or experienced person. Boug...,very fast
2,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.
3,I've had my Fire HD 8 two weeks now and I love...,Good!!!
4,I bought this for my grand daughter when she c...,Fantastic Tablet for kids

In [5]:
df.dtypes

reviews.text     object
reviews.title    object
dtype: object

In [6]:
df["reviews.text"] = df["reviews.text"].astype(str)
df["reviews.title"] = df["reviews.title"].astype(str)

# Tokenization:

In [7]:
import nltk
nltk.download('punkt')   # downloading the required NLTK resources

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Mohan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [8]:
from nltk.tokenize import word_tokenize               

# Word tokenize the "reviews.text" column
df["reviews.text_tokenized"] = df["reviews.text"].apply(lambda x: word_tokenize(x))

# Word tokenize the "reviews.title" column
df["reviews.title_tokenized"] = df["reviews.title"].apply(lambda x: word_tokenize(x))

# Print the DataFrame with tokenized columns
df.head()

,reviews.text,reviews.title,reviews.text_tokenized,reviews.title_tokenized
0,This product so far has not disappointed. My c...,Kindle,"[This, product, so, far, has, not, disappointe...",[Kindle]
1,great for beginner or experienced person. Boug...,very fast,"[great, for, beginner, or, experienced, person...","[very, fast]"
2,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,"[Inexpensive, tablet, for, him, to, use, and, ...","[Beginner, tablet, for, our, 9, year, old, son..."
3,I've had my Fire HD 8 two weeks now and I love...,Good!!!,"[I, 've, had, my, Fire, HD, 8, two, weeks, now...","[Good, !, !, !]"
4,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,"[I, bought, this, for, my, grand, daughter, wh...","[Fantastic, Tablet, for, kids]"

In [9]:
df.drop(["reviews.text_tokenized", "reviews.title_tokenized"], axis=1, inplace=True)

# Lower Casing:

In [10]:
df["reviews.text_clean"] = df["reviews.text"].str.lower()
df["reviews.title_clean"] = df["reviews.title"].str.lower()
df.head()

,reviews.text,reviews.title,reviews.text_clean,reviews.title_clean
0,This product so far has not disappointed. My c...,Kindle,this product so far has not disappointed. my c...,kindle
1,great for beginner or experienced person. Boug...,very fast,great for beginner or experienced person. boug...,very fast
2,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,inexpensive tablet for him to use and learn on...,beginner tablet for our 9 year old son.
3,I've had my Fire HD 8 two weeks now and I love...,Good!!!,i've had my fire hd 8 two weeks now and i love...,good!!!
4,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,i bought this for my grand daughter when she c...,fantastic tablet for kids

# Removal of Punctuations:

In [11]:
PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(text):
    """custom function to remove the punctuation"""
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))



df["reviews.text_clean"] = df["reviews.text_clean"].apply(lambda text: remove_punctuation(text))
df["reviews.title_clean"] = df["reviews.title_clean"].apply(lambda text: remove_punctuation(text))
df.head()

,reviews.text,reviews.title,reviews.text_clean,reviews.title_clean
0,This product so far has not disappointed. My c...,Kindle,this product so far has not disappointed my ch...,kindle
1,great for beginner or experienced person. Boug...,very fast,great for beginner or experienced person bough...,very fast
2,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,inexpensive tablet for him to use and learn on...,beginner tablet for our 9 year old son
3,I've had my Fire HD 8 two weeks now and I love...,Good!!!,ive had my fire hd 8 two weeks now and i love ...,good
4,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,i bought this for my grand daughter when she c...,fantastic tablet for kids

# Removal of stopwords:

In [12]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Mohan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [13]:
# stopwords in english are:
from nltk.corpus import stopwords
", ".join(stopwords.words('english'))

"i, me, my, myself, we, our, ours, ourselves, you, you're, you've, you'll, you'd, your, yours, yourself, yourselves, he, him, his, himself, she, she's, her, hers, herself, it, it's, its, itself, they, them, their, theirs, themselves, what, which, who, whom, this, that, that'll, these, those, am, is, are, was, were, be, been, being, have, has, had, having, do, does, did, doing, a, an, the, and, but, if, or, because, as, until, while, of, at, by, for, with, about, against, between, into, through, during, before, after, above, below, to, from, up, down, in, out, on, off, over, under, again, further, then, once, here, there, when, where, why, how, all, any, both, each, few, more, most, other, some, such, no, nor, not, only, own, same, so, than, too, very, s, t, can, will, just, don, don't, should, should've, now, d, ll, m, o, re, ve, y, ain, aren, aren't, couldn, couldn't, didn, didn't, doesn, doesn't, hadn, hadn't, hasn, hasn't, haven, haven't, isn, isn't, ma, mightn, mightn't, mustn, mustn't, needn, needn't, shan, shan't, shouldn, shouldn't, wasn, wasn't, weren, weren't, won, won't, wouldn, wouldn't"

In [14]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    """custom function to remove the stopwords"""
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

df["reviews.text_clean"] = df["reviews.text_clean"].apply(lambda text: remove_stopwords(text))
df["reviews.title_clean"] = df["reviews.title_clean"].apply(lambda text: remove_stopwords(text))
df.head()

,reviews.text,reviews.title,reviews.text_clean,reviews.title_clean
0,This product so far has not disappointed. My c...,Kindle,product far disappointed children love use lik...,kindle
1,great for beginner or experienced person. Boug...,very fast,great beginner experienced person bought gift ...,fast
2,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,inexpensive tablet use learn step nabi thrille...,beginner tablet 9 year old son
3,I've had my Fire HD 8 two weeks now and I love...,Good!!!,ive fire hd 8 two weeks love tablet great valu...,good
4,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,bought grand daughter comes visit set user ent...,fantastic tablet kids

# Removal of Frequent words:
we will remove the frequent words from the corpus.

In [15]:
from collections import Counter
cnt = Counter()
for text in df["reviews.text_clean"].values:
    for word in text.split():
        cnt[word] += 1

cnt.most_common(10)

[('tablet', 2102),
 ('great', 1797),
 ('kindle', 1163),
 ('use', 1130),
 ('price', 960),
 ('good', 907),
 ('easy', 822),
 ('bought', 814),
 ('fire', 782),
 ('love', 751)]

In [16]:
from collections import Counter
cnt = Counter()
for text in df["reviews.title_clean"].values:
    for word in text.split():
        cnt[word] += 1

cnt.most_common(10)

[('great', 1813),
 ('tablet', 1363),
 ('good', 563),
 ('price', 434),
 ('love', 284),
 ('kindle', 281),
 ('product', 272),
 ('fire', 232),
 ('nice', 209),
 ('stars', 194)]

In [17]:
FREQWORDS = set([w for (w, wc) in cnt.most_common(10)])
def remove_freqwords(text):
    """custom function to remove the frequent words"""
    return " ".join([word for word in str(text).split() if word not in FREQWORDS])

df["reviews.text_clean"] = df["reviews.text_clean"].apply(lambda text: remove_freqwords(text))
df["reviews.title_clean"] = df["reviews.title_clean"].apply(lambda text: remove_freqwords(text))
df.head()

,reviews.text,reviews.title,reviews.text_clean,reviews.title_clean
0,This product so far has not disappointed. My c...,Kindle,far disappointed children use like ability mon...,
1,great for beginner or experienced person. Boug...,very fast,beginner experienced person bought gift loves,fast
2,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,inexpensive use learn step nabi thrilled learn...,beginner 9 year old son
3,I've had my Fire HD 8 two weeks now and I love...,Good!!!,ive hd 8 two weeks valuewe prime members shine...,
4,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,bought grand daughter comes visit set user ent...,fantastic kids

# Removal of Rare words:
This is very similar to previous preprocessing step but we will remove the rare words from the corpus.

In [18]:
n_rare_words = 10

RAREWORDS = set([w for (w, wc) in cnt.most_common()[:-n_rare_words-1:-1]])
def remove_rarewords(text):
    """custom function to remove the rare words"""
    return " ".join([word for word in str(text).split() if word not in RAREWORDS])

df["reviews.text_clean"] = df["reviews.text_clean"].apply(lambda text: remove_rarewords(text))
df["reviews.title_clean"] = df["reviews.title_clean"].apply(lambda text: remove_rarewords(text))
df.head()

,reviews.text,reviews.title,reviews.text_clean,reviews.title_clean
0,This product so far has not disappointed. My c...,Kindle,far disappointed children use like ability mon...,
1,great for beginner or experienced person. Boug...,very fast,beginner experienced person bought gift loves,fast
2,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,inexpensive use learn step nabi thrilled learn...,beginner 9 year old son
3,I've had my Fire HD 8 two weeks now and I love...,Good!!!,ive hd 8 two weeks valuewe prime members shine...,
4,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,bought grand daughter comes visit set user ent...,fantastic kids

###### Doing stemming and lemmatization on original feature cols itself.

# Stemming:
Stemming is the process of reducing inflected (or sometimes derived) words to their word stem, base or root form.

### 1.PorterStemmer

In [19]:
from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()
def stem_words(text):
    return " ".join([stemmer.stem(word) for word in text.split()])

df["reviews.text_stemmed"] = df["reviews.text"].apply(lambda text: stem_words(text))
df["reviews.title_stemmed"] = df["reviews.title"].apply(lambda text: stem_words(text))
df.head()

,reviews.text,reviews.title,reviews.text_clean,reviews.title_clean,reviews.text_stemmed,reviews.title_stemmed
0,This product so far has not disappointed. My c...,Kindle,far disappointed children use like ability mon...,,thi product so far ha not disappointed. my chi...,kindl
1,great for beginner or experienced person. Boug...,very fast,beginner experienced person bought gift loves,fast,great for beginn or experienc person. bought a...,veri fast
2,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,inexpensive use learn step nabi thrilled learn...,beginner 9 year old son,"inexpens tablet for him to use and learn on, s...",beginn tablet for our 9 year old son.
3,I've had my Fire HD 8 two weeks now and I love...,Good!!!,ive hd 8 two weeks valuewe prime members shine...,,i'v had my fire hd 8 two week now and i love i...,good!!!
4,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,bought grand daughter comes visit set user ent...,fantastic kids,i bought thi for my grand daughter when she co...,fantast tablet for kid

### 2. Snowball Stemmer

porter stemmer is for English language. If we are working with other languages, we can use snowball stemmer. The supported languages for snowball stemmer are

In [20]:
from nltk.stem.snowball import SnowballStemmer
SnowballStemmer.languages

('arabic',
 'danish',
 'dutch',
 'english',
 'finnish',
 'french',
 'german',
 'hungarian',
 'italian',
 'norwegian',
 'porter',
 'portuguese',
 'romanian',
 'russian',
 'spanish',
 'swedish')

# Lemmatization:

Lemmatization is similar to stemming in reducing inflected words to their word stem but differs in the way that it makes sure the root word (also called as lemma) belongs to the language.

In [21]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Mohan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [22]:
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

df["reviews.text_lemmatized"] = df["reviews.text"].apply(lambda text: lemmatize_words(text))
df["reviews.title_lemmatized"] = df["reviews.title"].apply(lambda text: lemmatize_words(text))
df.head()

,reviews.text,reviews.title,reviews.text_clean,reviews.title_clean,reviews.text_stemmed,reviews.title_stemmed,reviews.text_lemmatized,reviews.title_lemmatized
0,This product so far has not disappointed. My c...,Kindle,far disappointed children use like ability mon...,,thi product so far ha not disappointed. my chi...,kindl,This product so far ha not disappointed. My ch...,Kindle
1,great for beginner or experienced person. Boug...,very fast,beginner experienced person bought gift loves,fast,great for beginn or experienc person. bought a...,veri fast,great for beginner or experienced person. Boug...,very fast
2,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,inexpensive use learn step nabi thrilled learn...,beginner 9 year old son,"inexpens tablet for him to use and learn on, s...",beginn tablet for our 9 year old son.,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.
3,I've had my Fire HD 8 two weeks now and I love...,Good!!!,ive hd 8 two weeks valuewe prime members shine...,,i'v had my fire hd 8 two week now and i love i...,good!!!,I've had my Fire HD 8 two week now and I love ...,Good!!!
4,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,bought grand daughter comes visit set user ent...,fantastic kids,i bought thi for my grand daughter when she co...,fantast tablet for kid,I bought this for my grand daughter when she c...,Fantastic Tablet for kid